<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515643395264-3f8c19a2dc77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=180);">
  <div class="container-title">
    <h1>Full-Stack Web Developer</h1>
    <p>Création de sites Web modernes et sur mesure</p>
    <a class="btn btn-flat" href="#about-me">A propos</a>
  </div>
</div>
