<div class="navbar navbar-expand-sm navbar-light navbar-portfolio">
  <!-- burger to x -->
  <div class="right-navbar burger-to-X">
    <%= render 'shared/burger-to-X' %>
  </div>

  <!-- center -->
  <div class="center-logo">
    <%= render 'shared/logo' %>
  </div>

  <!-- right links---------------- -->
  <div class="right-navbar extended-menu">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       <!--  <li class="nav-button active">
          <%#= link_to "Home", "#", class: "nav-link" %>
        </li> -->
        <!-- <li class="nav-button">
          <span>
            <%#= link_to "A propos", root_path( :anchor => "about-me" ) , class: "nav-link" %>
          </span>
        </li> -->
        <li class="nav-button">
          <span>
            <%= link_to "Info", root_path( :anchor => "about-me" ) , class: "nav-link" %>
          </span>
        </li>
        <li class="nav-button">
          <span>
            <%= link_to "Projets", root_path( :anchor => "portfolio" ) , class: "nav-link" %>
          </span>
        </li>
          <%#= mail_to "laurentbinder@gmail.com", 'Mail' %>
          <a href="mailto:laurentbinder@gmail.com" target="_blank"><i class="fa fa-envelope envelope"></i></a>


      </ul>
    </div>
  </div>
</div>

