
<!-- <div class="scroll-caret-up">
  <a href="#" class="scrollup fas fa-caret-up" style="display: inline;">
  </a>
</div> -->
<div class="scroll-caret-up">
  <a href="#">
  <i class="scrollup fas fa-chevron-circle-up shadow-5"></i>
  </a>
</div>
