<!-- navbar -->
<%= render 'shared/navbar' %>
<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515643395264-3f8c19a2dc77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=180);">
  <div class="container-title">
    <h1>Full-Stack Web Developer</h1>
    <p>Création de sites Web modernes et sur mesure</p>
    <a class="btn btn-flat" href="#about-me">A propos</a>
  </div>
</div>

<div id="portfolio">
  <div class="card-area">
    <div class="title-line"><h3>Projets</h3></div>
    <div class="container-portfolio">

      <a href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank" class="card-portfolio card-img-a col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
        <div class="details">
          <div class="title">
            <h4>Pimp my Cocktails</h4>
            <p>Save and customise your coktails</p>
          </div>
          <div class="portfolio-end">
          </div>
        </div>
      </a>

      <a href="http://kiddo-hatha-website.herokuapp.com/" target="_blank" class="card-portfolio card-img-b col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
        <div class="details">
          <div class="title">
            <h4>Yoga Hatha</h4>
            <p>Un site web pour un prof de Yoga</p>
          </div>
          <div class="portfolio-end">
          </div>
        </div>
      </a>

      <a href="https://proximart.herokuapp.com/" target="_blank" class="card-portfolio card-img-c col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
        <div class="details">
          <div class="title">
            <h4>Proximart</h4>
            <p>Trouver les expos autour de vous</p>
          </div>
          <div class="portfolio-end">
          </div>
        </div>
      </a>

    </div>
  </div>
</div>


<%= render 'shared/footer' %>
<%= render 'shared/scrollup' %>
