.container-portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

    .card-portfolio {
      min-width: 340px;
      min-height: 360px;
      padding: 16px;
      border-radius: 10px;
      border: 8px solid $body-bg;
      background-color: $blue;
      color: $body-bg;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      text-align: justify;
      display: grid;
      align-content: space-between;
        h4 {
          margin-bottom: 16px;
          margin-top: 4px;
        }
    }
    .portfolio-end p {
      margin-bottom: 4px;
    }
    .card-img-a {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("img-a.png");
      background-size: cover;
      background-position: center;

    }
    .card-img-b {
      background-image: linear-gradient(rgba(25,0,0,0.6), rgba(30,0,0,0.3)), url("img-b.png");
      background-size: cover;
      background-position: center;
      // background-position: 50% 64%;

    }
    .card-img-c {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("img-c");
      background-size: cover;
      background-position: center;

    }
}
