.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -1em;

    .card-portfolio {
      min-width: 340px;
      min-height: 360px;
      max-width: 408px;

      // border-radius: 10px;
      margin: 8px;
      color: $body-bg;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      display: grid;
      text-align: center;
      align-items: center;
        h4 {
          font-size: 24px;
          margin-bottom: 16px;
          margin-top: 4px;
        }
        p {
          font-size: 16px;
        }


    }
    .portfolio-end p {
      margin-bottom: 4px;
    }
    .card-img-a {
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-a.png");
      background-size: cover;
      background-position: center;
        &:hover {
          background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("img-a.png");

        }

    }
    .card-img-b {
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-b.png");
            background-size: cover;
            background-position: center;
              &:hover {
                background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("img-b.png");

              }

    }
    .card-img-c {
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-c");
      background-size: cover;
      background-position: center;
        &:hover {
          background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("img-c");
        }

    }

}

#show-details .details {
  opacity: 0;

      &:hover {
        opacity: 1;
      }
}
