.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

    .card-portfolio {
      min-width: 340px;
      min-height: 260px;
      max-width: 408px;
      margin: 8px;
      color: $light-gray;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      display: grid;
      text-align: center;
      align-items: center;
        h4 {
          font-size: 24px;
          margin-bottom: 16px;
          margin-top: 4px;
        }
        p {
          font-size: 16px;
        }
        transition: 0.3s;
      }

      .portfolio-end p {
        margin-bottom: 4px;
      }

      .img-a {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-a.png");

      }

      .img-b {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-b.png");
      }

      .img-c {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-c.png");
      }

      .card-img {
        background-size: cover;
        background-position: center;
      }

      .card-img:hover {
        background-position: inherit;
      }

}


#show-details {
  text-align: left;
  padding: 0 32px;
    h2 {
      word-spacing: -0.15em;
      text-transform: capitalize;
      font-weight: 300;
      border-bottom: solid 3px white;
      padding: 8px 0;
    }
    h2 span {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
    }
    .details p {
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(100%,0,0);
      padding: 1em 0;
      letter-spacing: 1px;
      font-size: 68.5%;
      text-transform: uppercase;
      // backface-visibility: hidden;

      h2, p {
        margin: 0;
      }


}

}

#show-details:hover {
    .details p {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
}
