.navbar-portfolio {
  background: $pink;
  padding: 8px 24px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 32vw 32vw 32vw;
  grid-template-rows: 48px;
  grid-template-areas: "gauche logo droite";
    h1 {
      // font-size: 12vw;
    }
    // a {
    //  color: red;
    // }
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 40px;
}

.left-navbar {
  grid-area: gauche;
  justify-self: left;
}

.center-logo {
  grid-area: logo;
  text-align: center;
}

.right-navbar {
  grid-area: droite;
  justify-self: center;

}
