.scrollup {
    width: 40px;
    height: 40px;
    opacity: 1;
    position: fixed;
    bottom: 22px;
    right: 20px;
    display: none;
    text-indent: -9999px;
    background-color: $blue;
    // background: url(../images/scroll-top-arrow.png) no-repeat left top;
    // z-index: 999;
}
