.scrollup {
  border-radius: 32%;
  padding: 4px;
  border: 0.8px solid rgba(2, 28, 69, .2);
  opacity: 0.4;
  position: fixed;
  bottom: 22px;
  right: 20px;
  background-color: $white;
  font-size: 36px;
  text-align: center;
  color: $darkest-blue;
    &:hover {
      background-color: $darkest-blue;
      opacity: 1;
      color: $white;
    }
}
