#what-i-do {
  text-align: center;
    .container {
      display: inline-block;
      margin-right: 1px;
      vertical-align: middle;
      width: calc(100% - 10px);
    }
    ul.icon-grid {
      list-style: none;
    }

    ul.icons-grid li:nth-child(2n + 1) {
        box-shadow: inset -1px 0 0 0 #dddddd, 1px 0 0 0 #dddddd;
    }

    ul.icons-grid li {
        display: block;
        float: left;
        padding: 3em 0;
        width: 50%;
    }
}

