// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// basics
html {
  scroll-behavior: smooth;
}


a {
  color: $dark-blue;
    &:hover {
      color: $dark-blue;
      text-decoration: none;
    }
}

p {
  color: $white;
}

.container {
  padding: 0 8vw;
    p {
      padding: 0 8vw;
    }
}
